<ion-header>
  <ion-toolbar>
    <ion-title>Cardapio</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
  <ion-card *ngFor="let p of produto">
    <ion-card-header>
      <ion-card-title>{{p.nome}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-row class="ion-align-items-center">
        <ion-col size="8">
          <ion-label color="secondary">
            <b>{{ p.valor}}</b>
          </ion-label>
          <ion-col size="4" class="ion-text-right">
            <ion-button fill="clear" (click)="addToCart(p)">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-list>
</ion-content>
