<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="estilo.css" />
	<title>Nota Fiscal</title>
</head>

<body>
	<div class="cabecalho">
		<p>Nota Fiscal</p>
	</div>

	<div>

		<table>
			<thead>
				</tr>
				<td>Item: <input type="text" id="descricao" placeholder="Descrição"></td>
				<td><input type="text" id="quantidade" placeholder="Qtd"></td>
				<td><input type="text" id="preco" placeholder="Preço"></td>
				<td><button onclick="adicionaLinha('line')">Add</button></td>
				</tr>
			</thead>

			<thead>
				<tr>
					<td>Dado da empresa</td>
					<td>Dados do destinatario</td>
					<td>Data e Local</td>
				</tr>
			</thead>


			<table>

				<tr>
					<td>Descrição</td>
					<td>Quantidade</td>
					<td>Preço</td>
					<td>Subtotal</td>
				</tr>

				<tbody id="line">

				</tbody>

				<div>
					<table>
						<tr>
							<th>Total da Nota</th>
							<td id="nota"></td>
						</tr>
					</table>

				</div>
			</table>

		</table>

	</div>

	<script src="home.js"></script>

</body>

</html>